<html>
    <head>
        <link rel = "stylesheet" href = "/css/dashboard.css"/>
        <script src="/jquery.js"></script>
    </head>
    <body> 
        <!--boardname  lane->_id,listname   card->_id --> 
        <div class="navigation">
            <ul class="nav-left">
                <li class="menu-toggle">User</li>
                <li class="active"><a href="#">Home</a></li>
                <li class="menu-toggle">Boards</li>
            </ul>
            <a href="#" class="kanban-label"><h1>Kanban</h1></a>
            <ul class="nav-right">
                <li class="menu-toggle">Add</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="board-view-panel">
            <div class="board-view-name">
                <h2>{{boardName}}</h2>
            </div>
            <button id = "jonal"> SAMPLE </button>
            <script>
                $("#jonal").on('click', () => {
                    $.get("/sample", (data) => {
                        console.log(data)
                        $("#jonal").html(data);

                        data.data
                    })
                })

            </script>
            <div class="lane-container">
                {{#each lane}}
                <div class="lane" data-id={{_id}}>
                    <div class="lane-header">
                        <h2>{{laneName}}</h2>
                    </div>
                    <div class="card-container">

                        {{#each card}}
                        <div class="card" data-id={{_id}}>
                            <img src={{cardimg}}>
                            <p>{{cardtitle}}</p>
                        </div>
                        {{/each}}
                    </div>
                    <div class="add-card">
                        Add a card
                    </div>
                    <div class="add-card-clicked">
                        <div class="add-card-title">
                            <input type="text">
                            <input type="submit">
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="add-lane">
                    Add a lane
                </div>
            </div>
        </div>
    </body>
</html>